.DS_Store
.atom/
.buildlog/
.history
.idea/
.packages
.project
.build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Pods/
/ios/Runner/Assets.xcassets/AppIcon.appiconset/
/ios/Runner/Assets.xcassets/LaunchImage.imageset/
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner/Runner-Bridging-Header.h
/ios/Runner/Runner.xcworkspace/
/ios/ServiceDefinitions.json
/ios/build/
/ios/eflutter.xcworkspace/
/ios/eflutter/GeneratedPluginRegistrant.h
/ios/eflutter/GeneratedPluginRegistrant.m
/ios/eflutter/Runner-Bridging-Header.h
/ios/eflutter/Runner.xcworkspace/
/ios/Flutter/flutter_export_environment.sh
/ios/.symlinks/
/android/.gradle/
/android/app/build/
/android/build/
/android/app/src/main/assets/flutter_assets/
app.flx
app.snapshot
apple_ios_bundle_debug.zip
apple_ios_bundle_profile.zip
apple_ios_bundle_release.zip
dart_style.log
debug.keystore
flutter.log
flutter_tools.stamp
kernel_blob.bin
packages.config
pubspec.lock
sdk.ds
sdk.dsm
snapshot.d
snapshot.d.d
snapshot.d.so
snapshot.h
snapshot.S
vmservice_io.d
*.iml
*.ipr
*.iws
*.swp
*~
thumbs.db